<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>

  <meta name="description" content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}">
  <meta name="author" content="{{ site.author }}">

  <link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}">

  <!--[if lt IE 9]>
    <script src="https://cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.min.js"></script>
  <![endif]-->

  {% if page.url == '/errata/' %}
    {% capture include_to_scssify %}
      {% include errata.scss %}
    {% endcapture %}
  {% else %}
    {% capture include_to_scssify %}
      {% include home.scss %}
    {% endcapture %}
  {% endif %}
  <style type="text/css">
    {{ include_to_scssify | scssify }}
  </style>

  {% include favicon-head.html %}

</head>
