<!doctype html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  {% include head.html %}
  <body>
    <!--[if lt IE 9]>
      <div class="browserupgrade">
        <p class="center browserupgrade">
          You are using an <strong>outdated</strong> browser.
          Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.
        </p>
      </div>
    <![endif]-->
    <div class="container">
      {{ content }}
      {% include footer.html %}
    </div>
  </body>
</html>
