---
layout: default
---
<main class="cover row" aria-label="Content">
  <div class="cover one-half column">
    <a id="cover" href="{{ site.informit_link }}">
      Django Unleashed
    </a>
  </div> <!-- column -->
  <div id="buybuttons" class="one-half column">
    <h2>Buy it!</h2>
    <a class="large-button" href="{{ site.informit_link }}">
      From the Publisher<br />
      <span>(DRM-Free ebook available!)</span>
    </a>
    <a class="button" href="{{ site.amazon_link }}">
      From Amazon
    </a>
    <a class="button" href="{{ site.barnesnoble_link }}">
      From Barnes and Noble
    </a>
    <h5>Or...</h5>
    <a class="button" href="http://safari.informit.com/9780133812497">
      Read it on Safari Books
    </a>
    <a class="button" href="https://github.com/jambonrose/DjangoUnleashed-1.8/">
      See Code on Github
    </a>
    <a class="button" href="/errata/">
      See the Errata
    </a>
  </div><!-- column -->
</main><!-- row -->
