$base-font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$base-font-size:   1.5em !default;
$base-font-weight: 400 !default;
$base-line-height: 1.6 !default;

$bold-weight: 600; // should be a weight, bold, or bolder

$text-color:       #222 !default;
$background-color: #fff !default;
$brand-color:      #F15A23 !default;

$light-grey:       #F1F1F1;
$dark-grey:        #E1E1E1;

$on-palm:          400px !default;
$on-phablet:       850px !default;
