#cover {
  display: block;
  text-indent: -9999px;
  background-image: url("/images/cover_quarter.gif");
  background-position:center;
  background-repeat: no-repeat;
  background-size:contain;
  padding-top: 60%;
}

.button {
    width: 80%;
    margin-right: 10%;
    margin-left: 10%;
}

.center {
    text-align: center;
}

.large-button {
  height: 63px;
  width: 80%;
  margin-right: 10%;
  margin-left: 10%;
  line-height: 1.5rem;
  padding-top: 1.5rem;
}

.large-button:hover,
.large-button:focus {
  color: #FFF;
  background-color: #F15A23;
  border-color: #F15A23;
}

.large-button span {
    font-size: 85%;
}

pre > code {
    overflow: scroll;
}

footer {
    text-align: center;
}

@media (min-width: 400px) {
    #cover {
      background-image: url("/images/cover_half.gif");
    }
    #buybuttons {
        margin-top: 5%;
    }
    .large-button {
        font-size: 1.25rem;
    }
}

/* For devices larger than 800px */
@media (min-width: 850px) {
    #cover {
        padding-top: 130%;
      background-image: url("/images/cover_full.gif");
    }
    #buybuttons {
        margin-top: 10%;
    }
    .button{
        font-size: 1.25rem;
    }
    .large-button {
        font-size: 1.5rem;
    }
}
