@charset "utf-8";

%button-base {
  border-radius: 4px;
  border: 1px solid #bbb;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  font-size: 11px;
  font-weight: 600;
  letter-spacing: .1rem;
  margin-bottom: 1rem;
  margin-left: 10%;
  margin-right: 10%;
  padding: 0 30px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
  width: 80%;
}

@mixin button-color() {
  background-color: $brand-color;
  border-color: $brand-color;
  color: $background-color;
}

@mixin button-color-hover() {
  color: $background-color;
  background-color: darken($brand-color, 17%);
  border-color: darken($brand-color, 17%);
}

.button {
  @extend %button-base;
  background-color: transparent;
  color: #555;
  height: 38px;
  line-height: 38px;
  &:hover, &:focus, {
    color: #333;
    border-color: #888;
    outline: 0;
  }
  @media (min-width: $on-phablet) {
    font-size: 1.25rem;
  }
}

.button-primary {
  @extend .button;
  @include button-color();
  &:hover, &:focus {
    @include button-color-hover();
  }
}

.large-button {
  @extend %button-base;
  @include button-color();
  height: 63px;
  line-height: 1.5rem;
  padding-top: 1.5rem;
  span {
    font-size: 85%;
  }
  &:hover, &:focus {
    @include button-color-hover();
  }
  @media (min-width: $on-palm) {
    font-size: 1.25rem;
  }
  @media (min-width: $on-phablet) {
    font-size: 1.5rem;
  }
}
